<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is a home page</h1>
    <h3><%- "Shubham Prajapati".toUpperCase() %></h3>
    <h3><%- ["Shubham","Sourabh","Khushil"][2] %></h3>
    <button>click me!</button>
</body>
</html>